**Normalizing Data in Time Series**

In [19]:
import pandas as pd 
import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/daily-min-temperatures.csv'
data = pd.read_csv(url, header = 0, index_col = 0, parse_dates= True)

In [3]:
data.head()

            Temp
Date
1981-01-01  20.7
1981-01-02  17.9
1981-01-03  18.8
1981-01-04  14.6
1981-01-05  15.8

In [4]:
from sklearn.preprocessing import MinMaxScaler as mms

In [6]:
values = data.values
values

array([[20.7],
       [17.9],
       [18.8],
       ...,
       [13.5],
       [15.7],
       [13. ]])

In [7]:
values = values.reshape(len(values),1)

In [8]:
values

array([[20.7],
       [17.9],
       [18.8],
       ...,
       [13.5],
       [15.7],
       [13. ]])

In [9]:
scaler = mms()

In [17]:
norm = scaler.fit_transform(values)
prev = scaler.inverse_transform(norm)

In [18]:
print(data.head())
print()
print('*'*100)
print()
print('Min and Max Values: ')
print('Max: '+str(scaler.data_max_)+' '+'Min: '+str(scaler.data_min_))
print()
print('*'*100)
print()
print('Values Before Normalizing:')
print()
for i in range(5):
    print(prev[i])
print()
print('*'*100)
print()
print('Normalized Values: ')
print()
for i in range(5):
    print(norm[i])

            Temp
Date
1981-01-01  20.7
1981-01-02  17.9
1981-01-03  18.8
1981-01-04  14.6
1981-01-05  15.8

****************************************************************************************************

Min and Max Values:
Max: [26.3] Min: [0.]

****************************************************************************************************

Values Before Normalizing:

[20.7]
[17.9]
[18.8]
[14.6]
[15.8]

****************************************************************************************************

Normalized Values:

[0.78707224]
[0.68060837]
[0.7148289]
[0.55513308]
[0.60076046]