**Standardizing Time Series Data**

In [2]:
import pandas as pd
import numpy as np

In [5]:
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/daily-min-temperatures.csv'
data = pd.read_csv(url, index_col = 0, parse_dates = True)
data.head(10)

            Temp
Date
1981-01-01  20.7
1981-01-02  17.9
1981-01-03  18.8
1981-01-04  14.6
1981-01-05  15.8
1981-01-06  15.8
1981-01-07  15.8
1981-01-08  17.4
1981-01-09  21.8
1981-01-10  20.0

In [7]:
values = data.values
values

array([[20.7],
       [17.9],
       [18.8],
       ...,
       [13.5],
       [15.7],
       [13. ]])

In [8]:
values = values.reshape(len(values) , 1)

In [9]:
from sklearn.preprocessing import StandardScaler as ss

In [10]:
scaler = ss()
stand = scaler.fit_transform(values)
prev = scaler.inverse_transform(stand)

In [15]:
print(data.head())
print()
print('*'*100)
print()
print('Mean and Standard Deviation Values: ')
print('Mean: '+str(values.mean())+' '+'Standard Deviation: '+str(values.std()))
print()
print('*'*100)
print()
print('Values Before Standardizing:')
print()
for i in range(5):
    print(prev[i])
print()
print('*'*100)
print()
print('Standardized Values: ')
print()
for i in range(5):
    print(stand[i])

            Temp
Date
1981-01-01  20.7
1981-01-02  17.9
1981-01-03  18.8
1981-01-04  14.6
1981-01-05  15.8

****************************************************************************************************

Mean and Standard Deviation Values:
Mean: 11.177753424657535 Standard Deviation: 4.071279075310806

****************************************************************************************************

Values Before Standardizing:

[20.7]
[17.9]
[18.8]
[14.6]
[15.8]

****************************************************************************************************

Standardized Values:

[2.33888328]
[1.65113873]
[1.87219948]
[0.84058266]
[1.13533032]